<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <h1>Your Password is:</h1>
        <h2 class="alert alert-success">{{ password }}</h2>
        <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
        <a href="{% url 'about' %}" class="btn btn-success">About</a>
    </div>
</body>
</html>